#root {
  min-height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  width: auto
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}